<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
 	<typeAliases>
 		<typeAlias type="dr_Link.doctorProfile.DoctorDTO" alias="doctorDTO"/>
 		<typeAlias type="dr_Link.dto.DrLinkDTO" alias="drLinkDTO"/>
 		<typeAlias type="dr_Link.dto.MedicineDTO" alias="medicineDTO"/>
 		<typeAlias type="dr_Link.dto.PatientDTO" alias="patientDTO"/>
 		<typeAlias type="dr_Link.prescription.PrescriptionDTO" alias="prescriptionDTO"/>
 		<typeAlias type="dr_Link.dto.TreatmentRecordDTO" alias="treatmentRecordDTO"/>
 		<typeAlias type="dr_Link.dto.SearchDTO" alias="searchDTO"/>
 		<typeAlias type="dr_Link.booking.BookingDTO" alias="bookingDTO"/>
 		<typeAlias type="dr_Link.review.Doc_ReviewDTO" alias="doc_ReviewDTO"/>
 		<typeAlias type="dr_Link.dto.DepartmentDTO" alias="departmentDTO"/>
 		<typeAlias type="dr_Link.dto.PageDTO" alias="PageDTO"/>
 	</typeAliases>
 </configuration>